:root {
  --defShadow: -4px 4px 6px 0 #00000055;
}

.barBlur {
  backdrop-filter:
    invert()
    hue-rotate(180deg)  
    blur(10px)
    contrast(50%)
    brightness(82%);
  background-image: url(noise.png);
}

.bar {
  /* width: fit-content; height: 52px; */
  height: 52px;
  /* transition: width 150ms ease-in-out; */
  
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 7px;
  
  border-radius: 8px;
  border-top: 1px solid #ffffff88; border-right: 1px solid #ffffff88;
  background-color: #ffffff22;

  margin-bottom: 15px;

  box-shadow: var(--defShadow);
}
