:root {
  --defShadow: -3px 3px 3px #0000002b;
}

.bar {
  /* width: fit-content; height: 52px; */
  height: 52px;
  /* transition: width 150ms ease-in-out; */
  
  padding: 0 10px 0 10px;
  z-index: 1;

  border-top: 1px solid transparent; border-right: 1px solid transparent;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  
  /* border-radius: 8px;
  border-top: 1px solid #ffffff88; border-right: 1px solid #ffffff88;
  background-color: #ffffff22;
  box-shadow: var(--defShadow); */

  /* margin-bottom: 15px; */
}

.bar * {
  z-index: 1;
}