#wrapper {
  position: absolute;

  width: 100vw; height: 100vh;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

#backdropA {
  width: 50%; height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;

  background: url(./Chart/noise.png) #222;
}

#backdropB {
  width: 50%; height: 100%;
  position: absolute;
  right: 0;
  z-index: -1;

  background: url(bg.jpeg) center/300%;
}